In [4]:
myname = "John Doe"

year = 2019
pi = 3.14
bool_ = True
favorite_color = "Blue"
age = 25
average_score = 87.6
is_student = False
hobbies = ["reading", "coding"]
address = {"city": "New York", "zip": "10001"}

In [5]:
print(f"My name is {myname}.")
print(f"The year is {year}.")
print(f"The value of pi is approximately {pi}.")
print(f"Boolean variable: {bool_}")
print(f"My favorite color is {favorite_color}, and my age is {age}.")
print(f"My average score is {average_score}, and I am a student: {is_student}.")
print(f"My hobbies are {', '.join(hobbies)}.")
print(f"My address: {address['city']}, ZIP {address['zip']}.")

My name is John Doe.
The year is 2019.
The value of pi is approximately 3.14.
Boolean variable: True
My favorite color is Blue, and my age is 25.
My average score is 87.6, and I am a student: False.
My hobbies are reading, coding.
My address: New York, ZIP 10001.

In [8]:
x =2; y = 3; z = 5;


print(x-y)
print(x+y)
print(x*z)
print(z/x)
print(z//x)
print(z%x)

-1
5
10
2.5
2
1

In [9]:

earth_radius_km = 6371
earth_radius_miles = earth_radius_km * 0.621371 

altitude_feet = 40000
altitude_meters = altitude_feet * 0.3048
circumference_miles = 2 * 3.14159 * earth_radius_miles
result_without_parentheses = 10 + 5 * 2 / 2 - 1
result_with_parentheses = (10 + 5) * 2 / (2 - 1)

print(f"Earth's mean radius in miles: {earth_radius_miles:.2f} miles")
print(f"Altitude in meters: {altitude_meters:.2f} meters")
print(f"Circumference of Earth in miles: {circumference_miles:.2f} miles")
print(f"Result without parentheses: {result_without_parentheses}")
print(f"Result with parentheses: {result_with_parentheses}")

Earth's mean radius in miles: 3958.75 miles
Altitude in meters: 12192.00 meters
Circumference of Earth in miles: 24873.57 miles
Result without parentheses: 14.0
Result with parentheses: 30.0